@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap");

@tailwind apply;
@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
[data-theme] {
  background: none;
}

* {
  font-family: "Inter", sans-serif;
}

body {
  background-image: url("./images/bg.webp");
  /* background-repeat: round; */
  background-size: cover;
  /* background-color: black; */
}

h1,
h2,
h3,
h4,
h5 {
  color: white !important;
}

p {
  color: white;
}

ul,
li {
  color: white;
}

#confirm {
  @apply bg-success;
  @apply border-green-600;
  @apply text-neutral;
}

#confirm:hover {
  opacity: 0.8;
  @apply bg-success;
  @apply border-green-600;
}

#cancel {
  @apply text-neutral;
}

#login {
  @apply text-neutral;
}

#submit {
  @apply text-neutral;
}

#login:hover {
  opacity: 0.8;
}

.Toastify__toast-container {
  margin-top: 4.5rem !important;
}

/* .Toastify__toast-container--top-right {
  right: 0em !important;
} */
