@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap");

@tailwind apply;
@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
[data-theme] {
  background: none;
}

* {
  font-family: "Inter", sans-serif;
}

body {
  background-image: url("./images/bg.webp");
  /* background-repeat: round; */
  background-size: cover;
  /* background-color: black; */
}

h1,
h2,
h3,
h4,
h5 {
  /* color: white !important; */
  color: #36d399 !important;
}

p {
  color: white;
}

#confirm {
  @apply bg-success;
  @apply border-green-600;
  @apply text-neutral;
}

#confirm:hover {
  opacity: 0.8;
  @apply bg-success;
  @apply border-green-600;
}

#cancel {
  @apply text-neutral;
}

#login {
  @apply text-neutral;
}

#submit {
  @apply text-neutral;
}

#login:hover {
  opacity: 0.8;
}

.Toastify__toast-container {
  margin-top: 4.5rem !important;
}

/* .Toastify__toast-container--top-right {
  right: 0em !important;
} */

.pixel:hover {
  opacity: 0.8;
}

.board {
  color: rgb(92, 143, 238) !important;
}

li {
  color: white;
  list-style-type: none;
}

.board-bg {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.07);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.art {
  color: white !important;
}
