@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap");

@tailwind apply;
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
}

body {
  background-image: url("https://i.imgur.com/fOV9MMg.gif");
  background-repeat: round;
  background-size: cover;
}

h1,h2,h3,h4,h5{
  color: white !important;
}
p{
  color: white;
}

ul,li{
  color: white;
}

#confirm{
  @apply bg-success;
  @apply border-green-600;
}

#confirm:hover {
  opacity: 0.6;
  @apply bg-success;
  @apply border-green-600;
}

#login{
  @apply text-primary-content;
}

#login:hover{
  opacity: 0.6;
}

#navbar{
  @apply bg-secondary;
}

#navbar:hover{
  opacity: 0.7;
}

#logout{
  font-size: 0.875rem;
  font-weight: 600;
}
